<div class="flex h-full flex-col bg-[--ion-background-color,#fff]">
  <!-- Steps List -->
  <div class="flex-1 overflow-y-auto p-6">
    <div
      *ngFor="let step of steps; let i = index"
      class="mb-3 flex cursor-default gap-4 rounded-lg p-4 transition-all duration-300"
      [ngClass]="{
        'border border-primary bg-primary/10': isStepActive(i),
        'bg-green-100 ': isStepCompleted(i),
      }"
    >
      <!-- Indicator -->
      <div
        class="flex h-10 w-10 min-w-[40px] items-center justify-center rounded-full font-semibold text-white transition-all duration-300"
        [ngClass]="{
          '!text-blue-500 scale-110 bg-primary/10': isStepActive(i),
          'bg-green-200': isStepCompleted(i),
          'bg-gray-200': !isStepActive(i) && !isStepCompleted(i),
        }"
      >
        <span *ngIf="!isStepCompleted(i)" class="text-lg">
          {{ i + 1 }}
        </span>

        <ion-icon
          *ngIf="isStepCompleted(i)"
          name="checkmark-circle"
          class="text-green-500! text-2xl"
        ></ion-icon>
      </div>

      <!-- Info -->
      <div class="flex-1">
        <div
          class="mb-1 text-base font-semibold"
          [ngClass]="{
            '!text-blue-500': isStepActive(i),
            '!text-green-500': isStepCompleted(i),
            '!text-[#858585]': !isStepActive(i) && !isStepCompleted(i),
          }"
        >
          {{ step.name }}
        </div>

        <div
          *ngIf="step.description"
          class="text-[13px] leading-snug"
          ,
          [ngClass]="{
            '!text-blue-500 ': isStepActive(i),
            '!text-green-500': isStepCompleted(i),
            '!text-[#858585]': !isStepActive(i) && !isStepCompleted(i),
          }"
        >
          {{ step.description }}
        </div>
      </div>
    </div>
  </div>
</div>
